

div {
    margin: 10px;
}

#google_logo {
    height: 92px;
    width: 272px;
}

#app_grid {
    height: 30px;
    width: 30px;
}


.center {
    margin: auto;
    width: 50%;
}

.border {
    border: 2px solid black;
}