/* ELEMENTS */

div {
    margin: 10px;
}

/* CLASSES */

.center {
    margin: auto;
    width: 50%;
}

.border {
    border: 2px solid black;

/* IDs */

#google_logo {
    height: 92px;
    width: 272px:
}

#app-grid {
    height: 30px;
    width: 30px;
}